img{
	width: 30%;
	float: left;
	margin: 1.6%;
}
h1{
	font-family: poppins;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	margin: 1.6%;
	border-bottom: 3px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;	
}